<a href="https://colab.research.google.com/github/S-JG/DAP/blob/main/lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(0)

# NumPy Exercises!
Complete the solution code to have a desired output.

**[Caution!]** Not allow to use iteration, such as for-loop.

### 1. Create a 4×4 numpy array of all True boolean’s

In [17]:
import numpy as np
# Input
arr_size = (4, 4)

# Solution
bool_arr = np.full((4,4),True)

# Print
print(bool_arr)

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

### 2. Extract all odd numbers from given `arr`

In [16]:
import numpy as np
# Input
arr = np.arange(30)

# Solution
arr = np.arange(1,31)

# Print
print(arr[arr%2 != 0])

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]

### 3. Get the positions where elements of `a` and `b` match
(hint, refer [np.where](https://colab.research.google.com/drive/1BqG2-LGCfkX4axzz96Yl4wCbJ6t-nZdR#scrollTo=OAanUPrlNj-N&line=2&uniqifier=1).)

In [20]:
import numpy as np
# Input
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

# Solution
idx = np.where(a==b)

# Print
print(idx)

(array([1, 3, 5, 7]),)

### 4. Find the mean, median, standard deviation of iris's `sepallength` (1st column).

In [22]:
import numpy as np
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
mu, med, std = np.mean(sepallength),np.median(sepallength),np.std(sepallength) 

# Print
print(mu, med, std)

5.843333333333334 5.8 0.8253012917851409

### 5. Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True. First time occurrences should be False. (hint, refer [np.unique](https://numpy.org/doc/stable/reference/generated/numpy.unique.html).)

In [63]:
import numpy as np
# Input
np.random.seed(100)
a = np.random.randint(0, 5, 10)
print('Array: ', a)

# Solution
## Create an all True array
out = np.array([True, True, True, True, True, True, True, True, True, True])
## Find the index positions of unique elements
unique_positions = np.unique(a)
## Mark those positions as False
out[unique_positions] = False

print('Duplicate entrie: ', out)

Array:  [0 0 3 0 2 4 2 2 2 2]
Duplicate entrie:  [False  True False False False  True  True  True  True  True]

# Pandas Exercises!
Complete the solution code to have a desired output.

### 6. Combine `ser1` and `ser2` to form a dataframe.

In [95]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 
df = pd.DataFrame([ser1, ser2])
new_df=df.transpose()
# Print
print(new_df.head())

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

### 7. Check if `df` has any missing values.

In [101]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.head())

# Solution
df_check=df.isnull()
print('\nIs there any missing value?:', df_check)

  Manufacturer    Model     Type  ...  Weight   Origin           Make
0        Acura  Integra    Small  ...  2705.0  non-USA  Acura Integra
1          NaN   Legend  Midsize  ...  3560.0  non-USA   Acura Legend
2         Audi       90  Compact  ...  3375.0  non-USA        Audi 90
3         Audi      100  Midsize  ...  3405.0  non-USA       Audi 100
4          BMW     535i  Midsize  ...  3640.0  non-USA       BMW 535i

[5 rows x 27 columns]

Is there any missing value?:     Manufacturer  Model   Type  Min.Price  ...  Luggage.room  Weight  Origin   Make
0          False  False  False      False  ...          True   False   False  False
1           True  False  False      False  ...         False   False   False  False
2          False  False  False      False  ...         False   False   False  False
3          False  False  False       True  ...         False   False   False  False
4          False  False  False       True  ...         False   False   False  False
..           ...    ...    ...        ...  ...           ...     ...     ...    ...
88         False  False  False      False  ...          True   False    True  False
89         False  False  False      False  ...         False   False   False  False
90         False  False  False      False  ...         False   False   False  False
91         False  False  False      False  ...         False   False   False  False
92          True  False  False      False  ...         False   False   False  False

[93 rows x 27 columns]

### 8. Create a TimeSeries starting `2021-01-01` and 10 weekends (sundays) after that **having** random numbers as values?

In [108]:
# Solution
ser = pd.Series(pd.date_range(start='1/1/2021', end='03/7/2021'))
print(ser)

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
        ...
61   2021-03-03
62   2021-03-04
63   2021-03-05
64   2021-03-06
65   2021-03-07
Length: 66, dtype: datetime64[ns]

### 9. In `df`, compute the mean price of every fruit using grouping function.

In [106]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

# Solution
out = df.groupby(['fruit']).mean()
print(out)

          rating     price
fruit
apple   0.188535  5.000000
banana  0.579682  9.333333
orange  0.603794  4.000000

### 10. Join two dataframes `df1` and `df2` for intersection items on `use_id`.

In [105]:
# Input
base_path = 'https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/'
df1 = pd.read_csv(base_path + 'user_usage.csv')
df2 = pd.read_csv(base_path + 'user_device.csv')

# Solution
print(pd.merge(

TypeError: ignored